@import "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow:400,500,600,700");
ul.colores {
  display: flex;
  padding: 0;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%; }
  ul.colores li {
    flex: 1;
    heigth: 20px; }
    ul.colores li:nth-child(1) {
      background: #E63946; }
    ul.colores li:nth-child(2) {
      background: #A8DADC; }
    ul.colores li:nth-child(3) {
      background: #457B9D; }
    ul.colores li:nth-child(4) {
      background: #1D3557; }
    ul.colores li:nth-child(5) {
      background: #00FDDC; }
    ul.colores li:nth-child(6) {
      background: #824C71; }

body {
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #777;
  font-size: 14px;
  line-height: 1.625;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-family: Archivo Narrow; }

h4 {
  font-size: 12px; }

.home-banners {
  margin: 40px 0 0 0;
  padding: 40px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }

#catalogo {
  align-items: flex-end; }
  #catalogo .main-title {
    margin: 30px 0;
    color: #1D3557; }
  #catalogo .un-producto {
    margin-bottom: 15px;
    position: relative;
    padding: 20px; }
    #catalogo .un-producto.col-12 {
      max-width: 270px;
      margin-left: auto;
      margin-right: auto; }
    #catalogo .un-producto .imagen {
      position: relative;
      text-align: center; }
      #catalogo .un-producto .imagen img {
        max-height: 250px; }
      #catalogo .un-producto .imagen .panel {
        position: absolute;
        display: flex;
        bottom: 10px;
        left: 10px;
        flex-direction: column; }
        #catalogo .un-producto .imagen .panel div {
          width: 30px;
          height: 30px;
          border-radius: 5px;
          font-size: 20px;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 10px; }
          #catalogo .un-producto .imagen .panel div.mas-vendido {
            background: #F26419; }
          #catalogo .un-producto .imagen .panel div.nuevo {
            background: #62929E; }
          #catalogo .un-producto .imagen .panel div.portalaptop {
            background: #343F3E; }
        #catalogo .un-producto .imagen .panel.outline div.mas-vendido {
          border: 1px solid #F26419;
          background: rgba(255, 255, 255, 0.4);
          color: #F26419; }
        #catalogo .un-producto .imagen .panel.outline div.nuevo {
          border: 1px solid #62929E;
          background: rgba(255, 255, 255, 0.4);
          color: #62929E; }
        #catalogo .un-producto .imagen .panel.outline div.portalaptop {
          border: 1px solid #343F3E;
          background: rgba(255, 255, 255, 0.4);
          color: #343F3E; }
      #catalogo .un-producto .imagen h4.precio {
        font-weight: 700;
        color: white;
        background: #457B9D;
        padding: 5px 10px;
        display: inline-block;
        float: right;
        font-size: 15px;
        right: 10px;
        bottom: 40px;
        position: absolute;
        border: 2px solid white;
        position: relative; }
        #catalogo .un-producto .imagen h4.precio.oferta {
          background: #00FDDC;
          color: #333;
          font-size: 16px; }
          #catalogo .un-producto .imagen h4.precio.oferta:before {
            content: "OFERTA";
            display: block;
            position: absolute;
            top: -20px;
            color: white;
            text-shadow: -1px -1px 1px #000,   1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000; }
    #catalogo .un-producto .info {
      position: relative;
      height: 48px;
      overflow: hidden; }
      #catalogo .un-producto .info h2 {
        font-size: 18px;
        font-weight: 300;
        color: #333;
        margin: 10px 0;
        display: -webkit-box; }

/*# sourceMappingURL=style.css.map */
